{% block content %}

<div style="text-align: center;">
    <h4>Kospi Create</h4>
    <form action="{% url 'stockapp:create' %}" method="POST">
        {% csrf_token %}
        <label>날짜</label><input type="date" name="date">
        <label>시가</label><input type="number" step="0.01" name="open">
        <label>종가</label><input type="number" step="0.01" name="close">
        
        <input style="color:cornflowerblue; text-decoration:none; cursor: pointer;"\
               type="submit" value="추가">
    </form>
</div>

{% endblock content %}